body {
font-family: 'Istok Web', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1{
	color: orange;
	font-weight: bolder;
}

p{
	color:#2E7ABB;
	font-size: 22px;
	text-align: left;
}

img{
	text-align: center;
}